<!DOCTYPE html>
<head>
	<title>There</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
	<script type="text/javascript" src="/js/jquery-ui-map/jquery.ui.map.js"></script>
	<script type="text/javascript">

		var Moviphy = {
			startWatching : function(){
				var self = this;
				navigator.geolocation.watchPosition(function(position){
					console.log(position);
					self.displayPosition(position);
				})
			},
			displayPosition : function(pos){
				console.log("QUIERES CAMBIAR POSICIÓN");
				$('#map_canvas').gmap({
					'center':pos.coords.latitude + "," + pos.coords.longitude , 
					'zoom': 17,
					'disableDefaultUI':true,
					'callback': function() {
						var self = this;
						self.addMarker({'position': this.get('map').getCenter() }).click(function() {
							self.openInfoWindow({ 'content': 'Hola, soy <%=user.name%>!' }, this);
						});
					}
				});

				$('#basic_map').live('pageshow', function() {
					$('#map_canvas').gmap('refresh'); 
				});
			} 
		}


		$('#basic_map').live('pageinit', function() {
			if(navigator.geolocation){
				navigator.geolocation.getCurrentPosition(function(data){
					var position = data;
					console.log("#######");
					Moviphy.displayPosition(position);
					Moviphy.startWatching();
				},function(error){
					console.error(error);
				},{enableHighAccuracy:true});
			}else{
				console.error("Geolocation not supported.");
			}			 
		});

		


	 $(document).ready(function() {

            $("#f_signup-i_submit").click(function(){
 
                var formData = $("#f_signup").serialize();
 
                $.ajax({
                    type: "POST",
                    url: "/sign-up",
                    cache: false,
                    data: formData,
                    success: function(data,status){
                    	data = $.trim(data);
                    	console.log(data);
                    },error: function(data,status){

                    }
                });
 
                return false;
            });


			$('form').on('submit', function (e) {

			    var $this = $(this);

			    //prevent the form from submitting normally
			    e.preventDefault();

			   //show the default loading message while the $.post request is sent
			    $.mobile.showPageLoadingMsg();

			    //send $.post request to server, `$this.serialize()` adds the form data to the request
			    $.post($this.attr('action'), $this.serialize(), function (response) {
			    	$.mobile.hidePageLoadingMsg();
			    	console.log(response);

                	var users = response.users;

                	var list = $("<ul data-role='listview' data-theme='g'/>");
                	

                	for(var i in users){
                		var list_user = $('<li><a href="#"><img width="100" height="100" src="' + users[i].picture + '" class="ui-li-thumb"/><h3 class="ui-li-heading">' + users[i].name + '</h3><p class="ui-li-desc">' + users[i].location + "," + users[i].country + '</p></a></li>');
                		list.append(list_user);
                	}

                	$("div[data-url='search'] div[data-role='content']").empty();
                	$("div[data-url='search'] div[data-role='content']").append(list).trigger("create");
                	

			        //you can now access the response from the server via the `response` variable
			        
			    }, 'json') //you can set the response data-type as well
			    .error(function(e) {
			        $.mobile.showPageLoadingMsg();
			        console.log('my_function_name, ' + e.responseText); 
			    });
			});


            
        });

	</script>

</head>
<body>

<div id="basic_map" data-role="page" data-url="profile">

	<div data-role="header">
		<!--<a href="#" data-ajax="false" data-rel="back" data-role="button" data-icon="back" data-iconpos="notext">Delete</a>-->
		<a href="/" data-ajax="false" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
		<h1>Moviphy</h1>
		

		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li><a data-icon="home" href="#profile" class="ui-btn-active"><%=profile.name%></a></li>
				<li><a data-icon="info" href="#information">Información</a></li>
				<li><a data-icon="gear" href="#permissions">Permisos</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /header -->

	

	<div data-role="content">

		<div class="ui-bar-c ui-corner-all ui-shadow" style="padding:1em;">
			<div id="map_canvas" style="height:350px;"></div>
		</div>
		<div class="user-info ui-corner-all ui-shadow">
			<img class="follower-picture picture-min" src="<%=profile.picture%>" title="<%=profile.name%>"/>
			<span class="user-info-name"><%=profile.name%></span>
			<span class="user-info-followers">323 followers</span>
			<div style="clear:both"></div>
		</div>
	</div><!-- /content -->

	<!--<div data-role="footer">		
		<div data-role="navbar">
			<ul>
				<li><a href="#">One</a></li>
				<li><a href="#">Two</a></li>
				<li><a href="#">Three</a></li>
			</ul>
		</div>--><!-- /navbar -->
	<!--</div>--><!-- /footer -->

</div><!-- /page -->

</body>